@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VideoGames</h1>
    <p>Check the list with Video Games <a asp-controller="Games" asp-action="Index"> here</a>.</p>
</div>
